.first-container {
    background-color: rgb(4,14,27);
    color: #fadf63;
    text-align: center;
    padding-top: 2%;
}
.footer-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    background-color: rgb(4,14,27);
    padding-bottom: 2%;
}
.social-icon {
    margin: 0 2% 0 2%;
}