.gallery-container {
    background-color: rgb(4,14,27);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding-top: 5%;
}
.gallery-container img {
    width: 17%;
    aspect-ratio: 1;
    margin: auto;
    margin-top: 10%;
    border-radius: 10%;
    border: 1px solid white;
    cursor: zoom-in;
    transition: width ease-in 0.4s;
}
.gallery-container img:hover {
    box-shadow: #FADF63 4px 4px 12px 4px;
    width: 30%;
}
@media only screen and (max-width: 1500px) {
    .gallery-container {
        padding-top: 10%;
    }
}
@media only screen and (max-width: 1000px) {
    .gallery-container {
        padding-top: 15%;
    }
}
@media only screen and (max-width: 750px) {
    .gallery-container {
        padding-top: 20%;
    }
}
@media only screen and (max-width: 500px) {
    .gallery-container {
        padding-top: 25%;
    }
}