
*{
    font-family: serif;
}
.container {
    min-height: 100vh;
    height: fit-content;
    background-color: #151415;
}
.landing-cards {
    padding-top: 7%;
    color: #FADF63;
    width: 33%;
}
h2 {
    display: block;
    margin: auto;
    width: fit-content;
}
video {
    width: 60%;
    display: block;
    margin: auto;
    padding-bottom: 1%;
    padding-top: 10%;
}
.Card-Holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards1 h2 {
    font-size: 2rem;
}
.landing-cards {
    width: 30%;
}
.cards1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: #FADF63;
}
.cards1 img {
    display: block;
    margin: auto;
    width: 100%;
}
.cards1 p {
    margin: auto;
    font-size: 1.5rem;
    color: #151415;
    line-height: 1.2;
    background-color: #F3A738;
    padding: 3%;
}
.cards1 a:hover {
    color: #151415;
}
.cards1 a {
    color: white;
    padding: 1%;
}
@media only screen and (max-width: 1500px) {
    .Card-Holder {
        display: block;
        width: 100%;
    }
    .landing-cards {
        width: 100%;
    }
}