.nav-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(4,14,27);
    color: #FADF63;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    align-items: center;
}
.nav-container img {
    width: 100px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.nav-container ul li {
    text-decoration: none;
    list-style: none;
    transition: color ease-out 0.2s;
    cursor: pointer;
}
.full-size {
    text-decoration: none;
    list-style: none;
    transition: color ease-out 0.2s;
    cursor: pointer;
    border-radius: 10%;
    width: 100%;
    padding-top: 3%;
}
li:hover {
    background-color: #FADF63;
    color: #151415;
}
.nav-container a {
    color: #FADF63;
    text-decoration: none;
    padding: 1%;
    font-size: 1.4rem;
    transition: all ease 0.3s;
}
.nav-container a:hover {
    color: orange;
    text-decoration: underline;
    border-radius: 10%;
}
a.home-link:hover {
    background-color: rgb(4,14,27);
}
div.hamburger-react {
    display: none;
}
@media only screen and (max-width: 1500px) {
    .nav-container a {
        font-size: 1.5rem;
    }
    .nav-container img {
        width: 100px;
    }
}
@media only screen and (max-width: 1000px) {
    .nav-container a {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 750px) {
    div.hamburger-react {
        display: flex;
        justify-content: flex-end;
        margin-left: 70%;
        margin-top: 7%;
    }
    .nav-container ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        background-color: #313C2B;
        width: fit-content;
        text-align: center;
        text-decoration: underline;
        line-height: 3rem;
        height: 100%;
        width: 40%;
    }
    .nav-container ul a {
        width: 100%;
    }
    .full-size {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    div.hamburger-react {
        display: flex;
        justify-content: flex-end;
        margin-left: 60%;
        margin-top: 7%;
    }
}
@media only screen and (max-width: 300px) {
    div.hamburger-react {
        display: flex;
        justify-content: flex-end;
        margin-left: 30%;
        margin-top: 7%;
    }
}