.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(4,14,27);
    color: #FADF63;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
.nav-container img {
    width: 120px;
    border-radius: 50%;
    padding: 10%;
    cursor: pointer;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.nav-container ul li {
    text-decoration: none;
    list-style: none;
    transition: color ease-out 0.2s;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 10%;
}
li:hover {
    background-color: #FADF63;
    color: #151415;
}
.nav-container a {
    color: #FADF63;
    text-decoration: none;
    padding: 1%;
    font-size: 2rem;
}
.nav-container a:hover {
    color: #151415;
    background-color: #FADF63;
    border-radius: 10%;
}
a.home-link:hover {
    background-color: rgb(4,14,27);
}